<section class="marks-section section">
  <div class="container">
    <h2 class="h2">Выберите автозапчасти по марке</h2>

    <div class="mark__wrap">
      <!-- item -->
      <a href="/" class="mark">
        <div class="mark-image">
          <img src="/images/mark/ww.png" alt="Audi" />
        </div>
        <div class="mark-info">
          <h3 class="mark-title">VOLKSWAGEN</h3>
          <p class="mark-count">(50 моделей)</p>
        </div>
      </a>

      <!-- item -->
      <a href="/" class="mark">
        <div class="mark-image">
          <img src="/images/mark/skoda.png" alt="Audi" />
        </div>
        <div class="mark-info">
          <h3 class="mark-title">skoda</h3>
          <p class="mark-count">(50 моделей)</p>
        </div>
      </a>

      <!-- item -->
      <a href="/" class="mark">
        <div class="mark-image">
          <img src="/images/mark/volvo.png" alt="Audi" />
        </div>
        <div class="mark-info">
          <h3 class="mark-title">volvo</h3>
          <p class="mark-count">(50 моделей)</p>
        </div>
      </a>

      <!-- item -->
      <a href="/" class="mark">
        <div class="mark-image">
          <img src="/images/mark/opel.png" alt="Audi" />
        </div>
        <div class="mark-info">
          <h3 class="mark-title">Opel</h3>
          <p class="mark-count">(50 моделей)</p>
        </div>
      </a>

      <!-- item -->
      <a href="/" class="mark">
        <div class="mark-image">
          <img src="/images/mark/kia.png" alt="Kia Logo" />
        </div>
        <div class="mark-info">
          <h3 class="mark-title">kia</h3>
          <p class="mark-count">(50 моделей)</p>
        </div>
      </a>

      <!-- item -->
      <a href="/" class="mark">
        <div class="mark-image">
          <img src="/images/mark/reno.png" alt="Reno" />
        </div>
        <div class="mark-info">
          <h3 class="mark-title">Reno</h3>
          <p class="mark-count">(50 моделей)</p>
        </div>
      </a>

      <!-- item -->
      <a href="/" class="mark">
        <div class="mark-image">
          <img src="/images/mark/mercedes.png" alt="Mercedes" />
        </div>
        <div class="mark-info">
          <h3 class="mark-title">Mercedes</h3>
          <p class="mark-count">(50 моделей)</p>
        </div>
      </a>

      <!-- item -->
      <a href="/" class="mark">
        <div class="mark-image">
          <img src="/images/mark/ford.png" alt="Ford logo" />
        </div>
        <div class="mark-info">
          <h3 class="mark-title">ford</h3>
          <p class="mark-count">(50 моделей)</p>
        </div>
      </a>

      <!-- item -->
      <a href="/" class="mark">
        <div class="mark-image">
          <img src="/images/mark/audi.png" alt="Audi" />
        </div>
        <div class="mark-info">
          <h3 class="mark-title">Audi</h3>
          <p class="mark-count">(50 моделей)</p>
        </div>
      </a>

      <!-- item -->
      <a href="/" class="mark">
        <div class="mark-image">
          <img src="/images/mark/bmw.png" alt="Bmw logo" />
        </div>
        <div class="mark-info">
          <h3 class="mark-title">bmw</h3>
          <p class="mark-count">(50 моделей)</p>
        </div>
      </a>

      <!-- item -->
      <a href="/" class="mark">
        <div class="mark-image">
          <img src="/images/mark/land-rover.png" alt="Audi" />
        </div>
        <div class="mark-info">
          <h3 class="mark-title">land rover</h3>
          <p class="mark-count">(50 моделей)</p>
        </div>
      </a>

      <!-- item -->
      <a href="/" class="mark">
        <div class="mark-image">
          <img src="/images/mark/hyundai.png" alt="Audi" />
        </div>
        <div class="mark-info">
          <h3 class="mark-title">hyundai</h3>
          <p class="mark-count">(50 моделей)</p>
        </div>
      </a>
    </div>

    <a href="/" class="btn mark-section-btn">Все марки</a>
  </div>
</section>
