.catalog-page-section {
  margin-top: 60px;
}

.catalog-page-top {
  display: flex;
  align-items: flex-end;
  gap: 16px;
}

.catalog-page__title {
  max-width: 469px;
  width: 100%;
}

.catalog-page__description {
  a {
    color: $red;
    text-decoration: underline;
  }
}

.catalog-concern__wrap {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;
}

.catalog-models__wrap {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;
}

.car-model-card {
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  border-radius: 8px;
}

.car-model-card__image {
  width: 100%;
  aspect-ratio: 5/3;
  img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.car-model-card__info {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  line-height: 100%;
  //   font-size: 14px;
  color: $grayDark;
}

.car-model-card__title {
  font-weight: 500;
  font-size: 18px;
  color: $black;
}

.car-generation-section {
  margin-top: 80px;
}

.car-generation__wrap {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.car-generation {
  padding-bottom: 32px;
  display: flex;
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 5fr;
  border-bottom: 1px solid $gray;
}

.car-generation__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.car-generation__frame {
  color: $grayDark;
}

.car-generation__years {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}

.car-generation__models {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}

.car-generation__model {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &:hover {
    .car-generation__model_title {
      color: $red;
    }
  }
}

.car-generation__model_image {
  aspect-ratio: 5/3;
  border-radius: 6px;
  overflow: hidden;
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.car-generation__model_title {
  transition: all 0.2s ease-in-out;
  font-size: 16px;
  line-height: 100%;
}

@media screen and (max-width: 1200px) {
  .catalog-models__wrap {
    margin-top: 60px;
    grid-template-columns: repeat(4, 1fr);
  }

  .catalog-page-section {
    margin-top: 40px;
  }

  .catalog-page-top {
    flex-direction: column;
    align-items: flex-start;
  }

  .car-generation__models {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1024px) {
  .catalog-concern__wrap {
    grid-template-columns: repeat(4, 1fr);
  }

  .car-generation {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
  }

  .car-generation__wrap {
    gap: 40px;
  }
}

@media screen and (max-width: 768px) {
  .catalog-models__wrap {
    margin-top: 32px;
    gap: 8px;
    grid-template-columns: repeat(2, 1fr);
  }

  .catalog-page__description {
    font-size: 14px;
    line-height: 130%;
  }
  .catalog-page-section {
    margin-top: 40px;
  }
  .catalog-page-top {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .car-generation__model {
    gap: 8px;
  }

  .car-generation-section {
    margin-top: 60px;
  }

  .car-generation__models {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }
}

@media screen and (max-width: 550px) {
  .catalog-concern__wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}
